@font-face {
  font-family: 'Monospace';
  src: url('../font/subset-MonospaceBold.woff2') format('woff2'),
  url('../font/subset-MonospaceBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
