#title-svg{
  transform-origin: top center;
  transform: scale(0.6) translateY(-50%);
  margin-top: 50vh;
}

#title-svg g#title {
  path{
    stroke: #00FFF5 !important;
  }
  rect{
    stroke: #00FFF5 !important;
  }
}



#title-page{
  background-color: #00042D;
}
